@model PeruTourism.Models.Visa.PedidoVisaViewModel
@using PeruTourism.Utility
@{
    ViewBag.Title = "Pago";


    var lstPedidoVisa = Model.lstPedidoVisa;

    var IDPedido = lstPedidoVisa.FirstOrDefault().IDPedido;

    var lajaxOptionsForm = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnBegin = "e_ajax_iniciando",
        OnComplete = "e_ajax_finalizando_form_ficha",
        OnFailure = "e_ajax_error"
    };
}
<style type="text/css">
    .field-validation-error {
        color: #ff0000;
        display: block;
    }
</style>

<div id="propDet" class="secondary">

    <div class="container-fluid">
        <section class="subtitle">
            <div class="container">
                <div class="options">
                    <div class="op-group">
                        <div class="op op-propuesta">
                            <div class="icon icon-propuesta"></div>
                            <div class="title">BOOK NOW</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="group prop-detalle">
        @using (Ajax.BeginForm("RealizarPago", "PagoVisa", null, lajaxOptionsForm, new { @id = "form-pagoVisa", @class = "group" }))
        {
            <div class="group">
                <input type="hidden" id="IDPedido" value="@IDPedido.Trim()" />

                <div class="form-group">
                    <label for="form-label">A favor de:</label>
                    <label for="email">VIAJES PENTAGRAMA</label>

                </div>
                <div class="form-group">
                    <label for="form-label">Cliente:</label>
                    <label for="email">@lstPedidoVisa.FirstOrDefault().NomCliente</label>

                </div>
                <div class="form-group">
                    <label for="form-label">Servicio:</label>
                    <label for="email">@lstPedidoVisa.FirstOrDefault().DesPedido</label>

                </div>
                <div class="form-group">
                    <label for="pwd">Monto a pagar:</label>
                    @*<input type="number" class="form-control" id="monto">*@
                    @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().Monto, new { @class = "form-control" })
                    @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().IDPedido, new { @class = "form-control", @Value = IDPedido.Trim(), @type = "hidden" })
                </div>
                <div class="form-group">
                    @*<label><input type="checkbox"> I agree with the payment and booking conditions</label>*@

                    @Html.CheckBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().TermsAndConditions, new { @class = "" })
                    <label for="form-label">I agree with the payment and booking conditions</label>
                </div>
                @Html.ValidationMessageFor(c => Model.lstPedidoVisa.FirstOrDefault().TermsAndConditions)
                <button type="submit" class="pago btn btn-primary">Realizar Pago</button>

            </div>
        }
    </div>

    <div class="group prop-detalle">
        <div class="group group-collapse collapsed" data-toggle="collapse" data-target="#content1">
            <div class="prop-num"><span></span></div>
            <div class="prop-title">Important recomendations before the payment</div>
        </div>
        <div class="prop-content collapse in" id="content1">
            <div class="group">

                <ul>
                    <li>Condicion 1</li>
                    <li>Condicion 1</li>
                    <li>Condicion 1</li>
                    <li>Condicion 1</li>
                    <li>Condicion 1</li>
                    <li>Condicion 1</li>

                </ul>
            </div>
        </div>
        <div class="prop-icon"></div>
    </div>




</div>


<script src="~/scripts/Visa/PagoVisa.js"></script>
