@model PeruTourism.Models.Visa.PedidoVisaViewModel
@using PeruTourism.Utility
@{
    ViewBag.Title = "Pago";


    var lstPedidoVisa = Model.lstPedidoVisa;

    //var IDPedido = lstPedidoVisa.FirstOrDefault().IDPedido;

    var urlPagoGG = Model.urlPago;

    var codCliente = Model.codCliente;

    var lajaxOptionsForm = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnBegin = "e_ajax_iniciando",
        OnComplete = "e_ajax_finalizando_form_ficha",
        OnFailure = "e_ajax_error"
    };
}
<style type="text/css">
    .field-validation-error {
        color: #ff0000;
        display: block;
    }
</style>

<div id="propDet" class="secondary">

    <div class="container-fluid">
        <section class="subtitle">
            <div class="container">
                <div class="options">
                    <div class="op-group">
                        <div class="op op-propuesta">
                            <div class="icon icon-propuesta"></div>
                            <div class="title">PAY NOW</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="group prop-detalle">
        <div class="group text-center" style="padding-top: 17px;">
            <a class="group text-center" href="@urlPagoGG">Link de pago</a>
            <label>Su código de cliente es:</label>&nbsp;&nbsp;<label style="color: #e41973">@codCliente</label>
            @*<input type="hidden" id="IDPedido" value="@IDPedido.Trim()" />*@

            @*<div class="form-group">
            <label for="form-label">A favor de:</label>
            <label for="email">VIAJES PENTAGRAMA</label>

        </div>
        <div class="form-group">
            <label for="form-label">Cliente:</label>
            <label for="email">@lstPedidoVisa.FirstOrDefault().NomCliente</label>

        </div>
        <div class="form-group">
            <label for="form-label">Servicio:</label>
            <label for="email">@lstPedidoVisa.FirstOrDefault().DesPedido</label>

        </div>
        <div class="form-group">
            <label for="pwd">Monto a pagar:</label>

            <label class="no-pad">
                @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().Monto, new { @class = "form-control" })
            </label>
            @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().IDPedido, new { @class = "form-control", @Value = IDPedido.Trim(), @type = "hidden" })
        </div>
        <div class="form-group">

            <label>Agree</label>
            <label for="form-label">

                @Html.CheckBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().TermsAndConditions, new { @class = "" })

                I agree with the payment and booking conditions

            </label>


        </div>*@

            @*<div class="form-group-btn">
            <span class="field-validation-valid" data-valmsg-for="TermsAndConditions" data-valmsg-replace="true"></span>
            @Html.ValidationMessageFor(c => Model.lstPedidoVisa.FirstOrDefault().TermsAndConditions)
            <button type="submit" class="pago btn btn-primary">Realizar Pago</button>
        </div>*@



        </div>
    </div>

    <div class="group prop-detalle">
        <div class="group group-collapse">
            <div class="prop-num"><span>Important recomendations before the payment</span></div>
        </div>
        <div class="prop-content prop-general" id="content1">
            <div class="group">
                <ul class="prop-list">
                    <li>Verify your credit line and available balance.</li>
                    <li>Make sure your credit card is enabled for online purchases internationally.</li>
                    <li>Confirm your credit card limit per day.</li>
                    <li>Check if you bank need your authorization depending on the amount of money to be charged.</li>
                    <li>Type the info just as it is shown on your credir card.</li>
                </ul>
            </div>
        </div>
        <div class="prop-icon"></div>
    </div>




</div>


<script src="~/scripts/Visa/PagoVisa.js"></script>
