@model PeruTourism.Models.Visa.PedidoVisaViewModel
@using PeruTourism.Utility
@{
    ViewBag.Title = "Pago";


    var lstPedidoVisa = Model.lstPedidoVisa;

    var IDPedido = lstPedidoVisa.FirstOrDefault().IDPedido;

    var lajaxOptionsForm = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnBegin = "e_ajax_iniciando",
        OnComplete = "e_ajax_finalizando_form_ficha",
        OnFailure = "e_ajax_error"
    };
}

<h2>Pago</h2>

<div id="propDet" class="secondary">

    @*<form id="formPagoVisa">*@

    @using (Ajax.BeginForm("ConfirmarPago", "PagoVisa", null, lajaxOptionsForm, new { @id = "form-pagoVisa", @class = "well form-horizontal" }))
    {

        <input type="hidden" id="IDPedido" value="@IDPedido.Trim()" />

        <div class="form-group">
            <label for="email">A favor de:</label>
            <label for="email">VIAJES PENTAGRAMA</label>

        </div>
        <div class="form-group">
            <label for="email">Cliente:</label>
            <label for="email">@lstPedidoVisa.FirstOrDefault().NomCliente</label>

        </div>
        <div class="form-group">
            <label for="email">Servicio:</label>
            <label for="email">@lstPedidoVisa.FirstOrDefault().DesPedido</label>

        </div>
        <div class="form-group">
            <label for="pwd">Monto a pagar:</label>
            @*<input type="number" class="form-control" id="monto">*@
            @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().Monto, new { @class = "form-control" })
            @Html.TextBoxFor(c => Model.lstPedidoVisa.FirstOrDefault().IDPedido, new { @class = "form-control",@Value=IDPedido.Trim(),@type="hidden" })
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Acepta</label>
        </div>
        <button type="submit" class="pago">Realizar Pago</button>
        <a class="pago">Realizar Pago</a>

    }



    @*</form>*@


</div>


<script src="~/scripts/Visa/PagoVisa.js"></script>