@model PeruTourism.Models.PeruTourism.PropuestaViewModel
@using PeruTourism.Utility
@{
    ViewBag.Title = "Booking Status";

    var lstPasajeroGG = Model.lstPasajero;
    var lstReservaTerrestreGG = Model.lstReservaTerrestre;
    var lstReservaAereoGG = Model.lstReservaAerero;
    var lstReservaHotel = Model.lstReservaHotel;
    char idioma = ViewBag.FlagIdioma;

}

@if (lstPasajeroGG != null || lstReservaTerrestreGG != null || lstReservaAereoGG != null || lstReservaHotel != null)
{

    if (idioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
    {
        <div class="modal fade" id="detalleBookingStatus-1" tabindex="-1" role="dialog" style="display: none;">
            <div class="modal-dialog modal-DetalleHotel" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong>Booking Status</strong>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">

                        <div class="table-responsive">
                            <div class="prop-title">PASSENGERS</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>

                                        <th>First Name</th>
                                        <th>Last Name </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in lstPasajeroGG)
                                    {



                                        <tr>

                                            <td>@d.NomPasajero</td>
                                            <td>@d.ApePasajero</td>

                                        </tr>
                                    }


                                </tbody>

                            </table>
                        </div>

                        <div class="table-responsive">
                            <div class="prop-title">LAND SERVICES</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Status</th>
                                        <th>Comments</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>All land services</td>
                                        <td>ok</td>
                                        <td></td>

                                    </tr>
                        

                                </tbody>

                            </table>
                        </div>

                        <div class="table-responsive">
                            <div class="prop-title">TRANSPORT TICKET</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>

                                        <th>Date Flight</th>
                                        <th>Route</th>

                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in lstReservaTerrestreGG)
                                    {


                                        <tr>

                                            <td>@d.FchVuelo</td>
                                            <td>@d.RutaVuelo</td>

                                            <td>@d.CodStsReserva</td>
                                        </tr>
                                    }


                                </tbody>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <div class="prop-title">AIR TICKET</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>
                                        @*<th>PASSENGERS </th>*@
                                        <th>Date Flight</th>
                                        <th>Route</th>
                                        @*<th>Flight</th>
                        <th>Airline</th>
                        <th>Flight No.</th>
                        <th>Departure</th>
                        <th>Reservation No</th>
                        <th>Tickets</th>*@
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in lstReservaAereoGG)
                                    {

                                        <tr>
                                            @*<td>@d.</td>*@
                                            <td>@d.FchVuelo</td>
                                            <td>@d.RutaVuelo</td>
                                            @*<td>@d.RutaVuelo</td>
                            <td>@d.AereoLinea</td>
                            <td>@d.CodReserva</td>
                            <td>@d.HoraSalida</td>
                            <td>@d.HoraLlegada</td>*@
                                            <td>@d.CodStsReserva</td>
                                        </tr>
                                    }


                                </tbody>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <div class="prop-title">HOTEL</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>
                                        @*<th>PASSENGERS </th>*@
                                        <th>Country</th>
                                        <th>Hotel</th>
                                        <th>Phone</th>
                                        <th>Status</th>
                                        <th>Alternative</th>
                                        <th>Updated</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in lstReservaHotel)
                                    {


                                        //totalAbono = totalAbono + d.Abono;
                                        //totalCargo = totalCargo + d.Cargo;

                                        <tr>
                                            @*<td>@d.</td>*@
                                            <td></td>
                                            <td>@d.NomCiudad</td>
                                            <td>@d.NombreHotel</td>
                                            <td>@d.Telefono</td>
                                            <td>@d.StsReserva</td>
                                            <td>@d.HotelAlternativo</td>
                                            <td></td>
                                        </tr>
                                    }
                                    @*@{decimal totalSaldo = totalCargo - totalAbono; }*@

                                </tbody>



                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="modal fade" id="detalleBookingStatus-1" tabindex="-1" role="dialog" style="display: none;">
            <div class="modal-dialog modal-DetalleHotel" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong>Booking Status</strong>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">

                        <div class="table-responsive">
                            <div class="prop-title">PASSENGERS</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>

                                        <th>First Name</th>
                                        <th>Last Name </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in lstPasajeroGG)
                                    {



                                        <tr>

                                            <td>@d.NomPasajero</td>
                                            <td>@d.ApePasajero</td>

                                        </tr>
                                    }


                                </tbody>

                            </table>
                        </div>

                        <div class="table-responsive">
                            <div class="prop-title">LAND SERVICES</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Status</th>
                                        <th>Comments</th>

                                    </tr>
                                </thead>
                                <tbody>
                            
                                        <tr>
                                            <td>All land services</td>
                                            <td>ok</td>
                                            <td></td>

                                        </tr>
                                 
                                </tbody>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <div class="prop-title">TRANSPORT TICKET</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>

                                        <th>Date Flight</th>
                                        <th>Route</th>

                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in lstReservaTerrestreGG)
                                    {



                                        <tr>

                                            <td>@d.FchVuelo</td>
                                            <td>@d.RutaVuelo</td>

                                            <td>@d.CodStsReserva</td>
                                        </tr>
                                    }


                                </tbody>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <div class="prop-title">AIR TICKET</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>

                                        <th>Date Flight</th>
                                        <th>Route</th>

                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in lstReservaAereoGG)
                                    {

                                        <tr>

                                            <td>@d.FchVuelo</td>
                                            <td>@d.RutaVuelo</td>

                                            <td>@d.CodStsReserva</td>
                                        </tr>
                                    }


                                </tbody>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <div class="prop-title">HOTEL</div>
                            <table class="table table-bordered table-responsive table-hover table-pt">
                                <thead>
                                    <tr>

                                        <th>Country</th>
                                        <th>Hotel</th>
                                        <th>Phone</th>
                                        <th>Status</th>
                                        <th>Alternative</th>
                                        <th>Updated</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in lstReservaHotel)
                                    {

                                        <tr>

                                            <td></td>
                                            <td>@d.NomCiudad</td>
                                            <td>@d.NombreHotel</td>
                                            <td>@d.Telefono</td>
                                            <td>@d.StsReserva</td>
                                            <td>@d.HotelAlternativo</td>
                                            <td></td>
                                        </tr>
                                    }


                                </tbody>



                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    }

}