@model PeruTourism.Models.PeruTourism.PropuestaViewModel
@using PeruTourism.Utility

@{
    /**/

    ViewBag.Title = "Home Page";

    var lstProgramas = Model.lstPrograma;
    string nroPedido = string.Empty;
    string nroPropuesta = string.Empty;
    string nroVersion = string.Empty;

    if (lstProgramas != null)
    {
        foreach (var gg in lstProgramas)
        {

            if (gg.StsPrograma == "Vendido" || gg.StsPrograma == "Sold")
            {

                nroPedido = gg.KeyReg.Substring(0, 6);
                nroPropuesta = gg.KeyReg.Substring(8, 1);
                nroVersion = gg.KeyReg.Substring(10, 1);

                break;
            }
            else
            {
                nroPedido = "0";
                nroPropuesta = "0";
                nroVersion = "0";
            }



        }
    }

    var NombreCliente = ViewBag.NomCliente == null ? "" : ViewBag.NomCliente;
    var CodCliente = ViewBag.CodCliente == null ? "" : ViewBag.CodCliente;

    var idioma = ViewBag.Idioma == null ? "E" : ViewBag.Idioma;
    bool flagVendido = true;
    bool flagNoVendido = false;
    
}

<script src="~/Scripts/Galeria/Galeria.js"></script>

@if (Session["Idioma"] != null || Session["IdCliente"] != null || Session["NomCliente"] != null || Session["CodCliente"] != null)
{
    if (idioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
    {
        <div class="container-fluid">
            <section class="slider" id="scene" style="margin-bottom: 0px !important;">
                <div class="container" data-depth="0.2">
                    <span class="description">Here is where the trip of your lifetime starts...</span>
                    <img src="~/Content/images/slider-group.png" class="img-group">
                </div>
                <img src="~/Content/images/slider-bg.jpg" class="img-bg" data-depth="0.1">
            </section>


            @*<div class="breadcrumb">

              

                <a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">Home</span>
                    </span>
                </a>


            </div>*@


        </div>

        <div class="container">
           
            <section class="options popupBase">
                <div class="op-group">
                    <div class="op op-propuesta">
                        <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = CodCliente , pFlagVendido = flagNoVendido})">
                            <div class="icon icon-propuesta"></div>
                            <div class="description">
                                My travel<br>
                                proposals
                            </div>
                        </a>
                    </div>


                    @if (lstProgramas.Where(p => p.StsPrograma.Equals("Sold") || p.StsPrograma.Equals("Vendido")).Count() != 0)
                    {

                        <div class="op op-info">
                            @*<a href="javascript:mostrarSubMenu()">*@
                            <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = CodCliente ,pFlagVendido = flagVendido})">
                                <div class="icon icon-info"></div>
                                <div class="description">My Booked trip</div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="op op-info">
                            @*<a href="javascript:mostrarSubMenu()">*@
                            <a >
                                <div class="icon icon-info"></div>
                                <div class="description">My Booked trip</div>
                            </a>
                        </div>
                    }






                    <div class="op op-testimonio">
                        <a href="https://www.perutourism.com/travel-experiences/comments1" target="_blank">
                            <div class="icon icon-testimonio"></div>
                            <div class="description">Our customer´s travel experiences</div>
                        </a>
                    </div>
                </div>
            </section>
            <div class="popup" hidden>
                <section class="options optionsMini" style="margin-bottom: 25px !important">
                    <div class="op-group">
                        <div class="op op-info">
                            <a onclick="javascript:openBookingStatusModal(@nroPedido, @nroPropuesta, @nroVersion,'I')">
                                <div class="icon icon-booking" style="background: #ff8820"></div>
                                <div class="description">Booking<br />Status</div>
                            </a>
                        </div>
                        <div class="op op-info">
                            <a onclick="openBalanceModal(@CodCliente, @nroPedido)">
                                <div class="icon icon-balance" style="background: #ff8820"></div>
                                <div class="description">Balance<br />Due</div>
                            </a>
                        </div>
                        <div class="op op-info">
                            <a onclick="openInformationBeforeTripModal(@nroPedido, @nroPropuesta, @nroVersion,'I')">
                                <div class="icon icon-info" style="background: #ff8820"></div>
                                <div class="description">Information<br />for my trip</div>
                            </a>
                        </div>
                    </div>
                </section>
                <div class="options optionsMini op-group text-center">
                    <a class="pago btn btn-primary btnSeleccion" href="@Url.Action("Pasajero", "Pasajero",new { pIdPedido = nroPedido , pIdioma=idioma})">
                        Add traveler information
                    </a>
                </div>
            </div>
        </div>



    }
    else
    {
        <div class="container-fluid">
            <section class="slider" id="scene" style="margin-bottom: 0px !important;">
                <div class="container" data-depth="0.2">
                    <span class="description">Aquí es donde comienza el viaje de tu vida...</span>
                    <img src="~/Content/images/slider-group.png" class="img-group">
                </div>
                <img src="~/Content/images/slider-bg.jpg" class="img-bg" data-depth="0.1">
            </section>


            @*<div class="breadcrumb">

              
                <a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">Inicio</span>
                    </span>
                </a>

            </div>*@

        </div>

        <div class="container">
        
            <section class="options popupBase">
                <div class="op-group">
                    <div class="op op-propuesta">
                        <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = CodCliente , pFlagVendido = flagNoVendido})">
                            <div class="icon icon-propuesta"></div>
                            <div class="description">
                                Propuestas<br>
                                para mi viaje
                            </div>
                        </a>
                    </div>


                    @if (lstProgramas.Where(p => p.StsPrograma.Equals("Sold") || p.StsPrograma.Equals("Vendido")).Count() != 0)
                    {
                        <div class="op op-info">
                            <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = CodCliente , pFlagVendido = flagVendido})">
                                <div class="icon icon-info"></div>
                                <div class="description">Mi viaje reservado</div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="op op-info">
                            <a >
                                <div class="icon icon-info"></div>
                                <div class="description">Mi viaje reservado</div>
                            </a>
                        </div>
                    }





                    <div class="op op-testimonio">
                        <a href="https://www.peru-turismo.com/experiencia-de-viaje/comments1" target="_blank">
                            <div class="icon icon-testimonio"></div>
                            <div class="description">Testimonios de nuestros clientes</div>
                        </a>
                    </div>
                </div>
            </section>
            <div class="popup" hidden>
                <section class="options optionsMini" style="margin-bottom: 25px !important">
                    <div class="op-group">
                        <div class="op op-info">
                            <a onclick="openBookingStatusModal(@nroPedido, @nroPropuesta, @nroVersion,'E')">
                                <div class="icon icon-booking" style="background: #ff8820"></div>
                                <div class="description">Estado de<br />su reserva</div>
                            </a>
                        </div>
                        <div class="op op-info">
                            <a onclick="openBalanceModal(@CodCliente, @nroPedido)">
                                <div class="icon icon-balance" style="background: #ff8820"></div>
                                <div class="description">Cuenta<br />Corriente</div>
                            </a>
                        </div>
                        <div class="op op-info">
                            <a onclick="openInformationBeforeTripModal(@nroPedido, @nroPropuesta, @nroVersion,'E')">
                                <div class="icon icon-info" style="background: #ff8820"></div>
                                <div class="description">Información<br />para mi viaje</div>
                            </a>
                        </div>
                    </div>
                </section>
                <div class="optionsMini op-group text-center">
                    <a class="pago btn btn-primary btnSeleccion" href="@Url.Action("Pasajero", "Pasajero",new { pIdPedido = nroPedido , pIdioma=idioma})">
                        Agregar pasajero
                    </a>
                </div>
            </div>
        </div>

    }

    <div id='balanceContainer'>
        @Html.Partial("~/Views/Home/_ModalMostrarSaldo.cshtml")
    </div>

    <div id='BookingStatusContainer'>
        @Html.Partial("~/Views/Home/_ModalBookingStatus.cshtml")
    </div>

    <div id='InforBeforeTripContainer'>
        @Html.Partial("~/Views/Home/_ModalInfoBeforeTrip.cshtml")
    </div>

    <script src="~/Scripts/third/parallax.min.js"></script>
    <script src="~/Scripts/views/home.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".marcaMenu").removeClass("active");
            $(".marcaMenu01").addClass("active");
        });

        function mostrarSubMenu() {
            if ($(".popup").is(":visible")) {
                $(".popup").hide();

                $(".op-propuesta").css("opacity", "1");
                $(".op-propuesta").css("pointer-events", "auto");
                $(".op-propuesta").css("cursor", "auto");

                $(".op-testimonio").css("opacity", "1");
                $(".op-testimonio").css("pointer-events", "auto");
                $(".op-testimonio").css("cursor", "auto");

            }
            else {
                $(".popup").show();
                $(".btnSeleccion").focus();

                $(".op-propuesta").css("transition", "opacity .30s ease-in-out");
                $(".op-propuesta").css("opacity", "0.1");
                $(".op-propuesta").css("pointer-events", "none");
                $(".op-propuesta").css("cursor", "default");

                $(".op-testimonio").css("transition", "opacity .30s ease-in-out");
                $(".op-testimonio").css("opacity", "0.1");
                $(".op-testimonio").css("pointer-events", "none");
                $(".op-testimonio").css("cursor", "default");
            }
        }
    </script>
}
else
{
    <div class="container-fluid">
        <section class="slider" id="scene">
            <div class="container" data-depth="0.2">
                <span class="description">Tu sesion ha expirado, haga <a href="http://www.pentagrama.com/mozart/" style="color: white">click aquí</a> para volver a ingresar</span>
                <img src="~/Content/images/slider-group.png" class="img-group">
            </div>
            <img src="~/Content/images/slider-bg.jpg" class="img-bg" data-depth="0.1">
        </section>
    </div>
}

