@model PeruTourism.Models.PeruTourism.PropuestaViewModel

@{
    ViewBag.Title = "Home Page";

    var lstProgramas = Model.lstPrograma;

    var NombreCliente = Session["NomCliente"];
}

@section Scripts {
    <script src="~/Scripts/PeruTourism/Pedido.js"></script>
}



<div class="content">
    <div class="container">
        <section class="welcome">
            <h2 class="title">¡Hola <strong>@NombreCliente</strong>!</h2>
            <p>Bienvenido a la página personalizada para tu viaje</p>
        </section>
        <section class="options">
            <div class="op-group">
                <div class="op op-propuesta">
                    <a href="@Url.Action("VerPropuesta", "Home")">
                        <div class="icon icon-propuesta"></div>
                        <div class="description">
                            Propuestas<br>
                            para mi viaje
                        </div>
                    </a>
                </div>
                <div class="op op-info">
                    <a href="javascript:void(0)">
                        <div class="icon icon-info"></div>
                        <div class="description">Información antes de mi viaje</div>
                    </a>
                </div>
                <div class="op op-testimonio">
                    <a href="javascript:void(0)">
                        <div class="icon icon-testimonio"></div>
                        <div class="description">Testimonios de otros clientes</div>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid">
        <section class="slider" id="scene">
            <div class="container" data-depth="0.2">
                <span class="description">Go Beyond Ordinary Travel</span>
                <img src="~/Content/resources/images/slider-group.png" class="img-group">
            </div>
            <img src="~/Content/resources/images/slider-bg.jpg" class="img-bg" data-depth="0.1">
        </section>
    </div>
</div>


@*<div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Results</h3>

                    </div>
                    <form>
                        <div class="box-body">

                            @for (int i = 0; i < lstProgramas.Count; i++)
                            {

                                <div id="propuesta"> <span>@i</span><p>@lstProgramas[i].DesPrograma -  @lstProgramas[i].StsPrograma</p> <a>Ver</a>  </div>

                            }

                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>*@


