@model PeruTourism.Models.PeruTourism.PropuestaViewModel
@using PeruTourism.Utility

@{
    ViewBag.Title = "Home Page";

    var lstProgramas = Model.lstPrograma;
    string nroPedido = string.Empty;
    string nroPropuesta = string.Empty;
    string nroVersion = string.Empty;

    foreach (var gg in lstProgramas)
    {

        if (gg.StsPrograma == "Vendido" || gg.StsPrograma == "Sold")
        {

            nroPedido = gg.KeyReg.Substring(0, 6);
            nroPropuesta = gg.KeyReg.Substring(8, 1);
            nroVersion = gg.KeyReg.Substring(10, 1);

            break;
        }
        else
        {
            nroPedido = "0";
            nroPropuesta = "0";
            nroVersion = "0";
        }



    }

    //var NombreCliente = (string)Session["NomCliente"];
    var NombreCliente = ViewBag.NomCliente;
    var CodCliente = ViewBag.CodCliente;

    char idioma = ViewBag.Idioma;
}

<style type="text/css">
    .options {
        max-width: 500px;
    }
</style>

<script src="~/Scripts/Galeria/Galeria.js"></script>

@if (idioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
{
    <div class="container-fluid">
        <section class="slider" id="scene">
            <div class="container" data-depth="0.2">
                <span class="description">Here is where the trip of your lifetime starts...</span>
                <img src="~/Content/images/slider-group.png" class="img-group">
            </div>
            <img src="~/Content/images/slider-bg.jpg" class="img-bg" data-depth="0.1">
        </section>
    </div>

    <div class="container">
        @*<section class="welcome">
                <h2 class="title"> Hello <strong>@NombreCliente</strong>!</h2>
                <p> Welcome to the customized travel website for your trip </p>
            </section>*@
        <section class="options">
            <div class="op-group">
                <div class="op op-propuesta">
                    <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = CodCliente})">
                        <div class="icon icon-propuesta"></div>
                        <div class="description">
                            My travel<br>
                            proposals
                        </div>
                    </a>
                </div>
                <div class="op op-info">
                    <a href="javascript:mostrarSubMenu()">
                        <div class="icon icon-info"></div>
                        <div class="description">My Booked trip</div>
                    </a>
                </div>
                <div class="op op-testimonio">
                    <a href="javascript:void(0)">
                        <div class="icon icon-testimonio"></div>
                        <div class="description">Reviews from our clients</div>
                    </a>
                </div>
            </div>
        </section>
        <section class="options optionsMini submenu" hidden>
            <div class="op-group">
                <div class="op op-info">
                    <a onclick="javascript:openBookingStatusModal(@nroPedido, @nroPropuesta, @nroVersion,'I')">
                        <div class="icon icon-booking" style="background: #ff8820"></div>
                        <div class="description">Booking Status</div>
                    </a>
                </div>
                <div class="op op-info">
                    <a onclick="openBalanceModal(@CodCliente, @nroPedido)">
                        <div class="icon icon-balance" style="background: #ff8820"></div>
                        <div class="description">Balance Due</div>
                    </a>
                </div>
                <div class="op op-info">
                    <a onclick="openInformationBeforeTripModal(@nroPedido, @nroPropuesta, @nroVersion,'I')">
                        <div class="icon icon-info" style="background: #ff8820"></div>
                        <div class="description">Information for my trip</div>
                    </a>
                </div>
            </div>
        </section>
        <div class="options op-group text-center submenu" style="margin-top: 20px;" hidden>
            <a class="pago btn btn-primary" href="@Url.Action("Pasajero", "Pasajero",new { pIdPedido = nroPedido })">
                Add passenger
            </a>
        </div>
    </div>
    @*<div class="container-fluid">
            <section class="slider" id="scene">
                <div class="container" data-depth="0.2">
                    <span class="description">Go Beyond Ordinary Travel</span>
                    <img src="~/Content/images/slider-group.png" class="img-group">
                </div>
                <img src="~/Content/images/slider-bg.jpg" class="img-bg" data-depth="0.1">
            </section>
        </div>*@


}
else
{
    <div class="container-fluid">
        <section class="slider" id="scene">
            <div class="container" data-depth="0.2">
                <span class="description">Aquí es donde comienza el viaje de tu vida...</span>
                <img src="~/Content/images/slider-group.png" class="img-group">
            </div>
            <img src="~/Content/images/slider-bg.jpg" class="img-bg" data-depth="0.1">
        </section>
    </div>

    <div class="container">
        @*<section class="welcome">
                <h2 class="title">¡Hola <strong>@NombreCliente</strong>!</h2>
                <p>Bienvenido a la página personalizada para tu viaje</p>
            </section>*@
        <section class="options">
            <div class="op-group">
                <div class="op op-propuesta">
                    <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = CodCliente})">
                        <div class="icon icon-propuesta"></div>
                        <div class="description">
                            Propuestas<br>
                            para mi viaje
                        </div>
                    </a>
                </div>
                <div class="op op-info">
                    <a href="javascript:mostrarSubMenu()">
                        <div class="icon icon-info"></div>
                        <div class="description">Mi viaje reservado</div>
                    </a>
                </div>
                <div class="op op-testimonio">
                    <a href="javascript:void(0)">
                        <div class="icon icon-testimonio"></div>
                        <div class="description">Testimonios de nuestros clientes</div>
                    </a>
                </div>
            </div>
        </section>
        <section class="options optionsMini submenu" hidden>
            <div class="op-group">
                <div class="op op-info">
                    <a onclick="openBookingStatusModal(@nroPedido, @nroPropuesta, @nroVersion,'E')">
                        <div class="icon icon-booking" style="background: #ff8820"></div>
                        <div class="description">Estado de su reserva</div>
                    </a>
                </div>
                <div class="op op-info">
                    <a onclick="openBalanceModal(@CodCliente, @nroPedido)">
                        <div class="icon icon-balance" style="background: #ff8820"></div>
                        <div class="description">Cuenta Corriente</div>
                    </a>
                </div>
                <div class="op op-info">
                    <a onclick="openInformationBeforeTripModal(@nroPedido, @nroPropuesta, @nroVersion,'E')">
                        <div class="icon icon-info" style="background: #ff8820"></div>
                        <div class="description">Información para mi viaje</div>
                    </a>
                </div>
            </div>
        </section>
        <div class="options op-group text-center submenu" style="margin-top: 20px;" hidden>
            <a class="pago btn btn-primary" href="@Url.Action("Pasajero", "Pasajero",new { pIdPedido = nroPedido })">
                Agregar pasajero
            </a>
        </div>
    </div>
    @*<div class="container-fluid">
            <section class="slider" id="scene">
                <div class="container" data-depth="0.2">
                    <span class="description">Go Beyond Ordinary Travel</span>
                    <img src="~/Content/images/slider-group.png" class="img-group">
                </div>
                <img src="~/Content/images/slider-bg.jpg" class="img-bg" data-depth="0.1">
            </section>
        </div>*@
}

<div id='balanceContainer'>
    @Html.Partial("~/Views/Home/_ModalMostrarSaldo.cshtml")
</div>

<div id='BookingStatusContainer'>
    @Html.Partial("~/Views/Home/_ModalBookingStatus.cshtml")
</div>

<div id='InforBeforeTripContainer'>
    @Html.Partial("~/Views/Home/_ModalInfoBeforeTrip.cshtml")
</div>

<script src="~/Scripts/third/parallax.min.js"></script>
<script src="~/Scripts/views/home.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
    });

    function mostrarSubMenu() {
        if ($(".submenu").is(":visible"))
            $(".submenu").hide();
        else
            $(".submenu").show();
    }
</script>