@using PeruTourism.Utility
@{
    ViewBag.Title = "MyBookedTrip";
    char flagIdioma = ViewBag.FlagIdioma;

}
<style type="text/css">
    .prop-clear, .prop-clear:hover {
        background: #fafafa;
        box-shadow: none;
    }

        .prop-clear .prop-num::before {
            display: none;
        }

        .prop-clear .prop-title::before {
            display: none;
        }

        .prop-clear .prop-content .group {
            border: 0;
        }
</style>


<style type="text/css">
    #CondicionesContainer .prop-detalle,
    #CondicionesContainer .prop-detalle:hover {
        background: #fafafa;
        box-shadow: none;
    }

        #CondicionesContainer .prop-detalle .prop-content {
            padding-top: 60px;
        }

        #CondicionesContainer .prop-detalle .prop-num::before {
            display: none;
        }

        #CondicionesContainer .prop-detalle .prop-title::before {
            display: none;
        }

        #CondicionesContainer .prop-detalle .prop-content .group {
            border: 0;
        }
</style>
@if (flagIdioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
{
    
    <div class="content">
        <div class="container">
        
            <section class="options options-antes">
                <div class="op-group">
                    <div class="op op-booking">
                        <a onclick="openBookingStatusModal(@ViewBag.NroPedido,@ViewBag.NroPropuesta,@ViewBag.NroVersion,'I')">
                            <div class="icon icon-booking "></div>
                            <div class="description">
                                Bookin<br>
                                Status
                            </div>
                        </a>
                    </div>
                    <div class="op op-balance">
                        @*<a href="@Url.Action("OpenModalBalance", "Home",new { pCliente = ViewBag.CodCliente , pNroPedido = ViewBag.NroPedido})">*@
                        <a onclick="openBalanceModal(@ViewBag.CodCliente,@ViewBag.NroPedido)">
                            <div class="icon icon-balance"></div>
                            <div class="description">Balance Due</div>
                        </a>
                    </div>
                    <div class="op op-information">
                        <a onclick="openInformationBeforeTripModal(@ViewBag.NroPedido,@ViewBag.NroPropuesta,@ViewBag.NroVersion,'I')">
                            <div class="icon icon-information"></div>
                            <div class="description">Information for my trip</div>
                        </a>
                    </div>
                </div>
                <div class="op-group text-center" style="margin-top: 20px">
                    <a class="pago btn btn-primary" href="@Url.Action("Pasajero", "Pasajero",new { pIdPedido = @ViewBag.NroPedido })">
                        Register your personal information here
                    </a>
                </div>
            </section>
        </div>

    </div>

  
}
else
{

    <div class="content">
        <div class="container">
         
            <section class="options options-antes">
                <div class="op-group">
                    <div class="op op-booking">
                        <a onclick="openBookingStatusModal(@ViewBag.NroPedido,@ViewBag.NroPropuesta,@ViewBag.NroVersion,'E')">
                            <div class="icon icon-booking "></div>
                            <div class="description">
                                Estado<br>
                                de su reserva
                            </div>
                        </a>
                    </div>
                    <div class="op op-balance">
                        @*<a href="@Url.Action("OpenModalBalance", "Home",new { pCliente = ViewBag.CodCliente , pNroPedido = ViewBag.NroPedido})">*@
                        <a onclick="openBalanceModal(@ViewBag.CodCliente,@ViewBag.NroPedido)">
                            <div class="icon icon-balance"></div>
                            <div class="description">Cuenta Corriente</div>
                        </a>
                    </div>
                    <div class="op op-information">
                        <a onclick="openInformationBeforeTripModal(@ViewBag.NroPedido,@ViewBag.NroPropuesta,@ViewBag.NroVersion,'E')">
                            <div class="icon icon-information"></div>
                            <div class="description">Información para mi viaje</div>
                        </a>
                    </div>
                </div>
                <div class="op-group text-center" style="margin-top: 20px">
                    <a class="pago btn btn-primary" href="@Url.Action("Pasajero", "Pasajero",new { pIdPedido = @ViewBag.NroPedido })">
                        AGREGAR PASAJERO
                    </a>
                </div>
            </section>
        </div>

    </div>
}



<div id='balanceContainer'>
    @Html.Partial("~/Views/Home/_ModalMostrarSaldo.cshtml")
</div>

<div id='BookingStatusContainer'>
    @Html.Partial("~/Views/Home/_ModalBookingStatus.cshtml")
</div>

<div id='InforBeforeTripContainer'>
    @Html.Partial("~/Views/Home/_ModalInfoBeforeTrip.cshtml")
</div>

<script src="~/Scripts/Galeria/Galeria.js"></script>
<script src="~/Scripts/Envio/EnvioMensaje.js"></script>