@model PeruTourism.Models.PeruTourism.PropuestaViewModel
@using PeruTourism.Utility
@{
    ViewBag.Title = "Pasajero";
    Layout = "~/Views/Shared/_Layout.cshtml";
    char idioma = ViewBag.Idioma;

    var lajaxOptionsForm = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnBegin = "e_ajax_iniciando",
        OnComplete = "e_ajax_finalizando_form_ficha",
        OnFailure = "e_ajax_error"
    };
}
<link href="~/Content/css/tabla_pasajero.css" rel="stylesheet" />
<style type="text/css">
    .pago {
        width: auto !important;
    }
</style>

@if (idioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
{
    <div id="prop" class="secondary">
        <div class="container-fluid">
            <section class="slider" id="scenex" style="margin-bottom: 0px;">
                <div class="container">
                    <span class="description">Here is where the trip of your lifetime starts...</span>

                    <div class="options">
                        <div class="op-group">
                        </div>
                    </div>
                </div>
                <img src="~/Content/images/slider-prop.jpg" class="img-bg" data-depth="0.1">

            </section>


            <div class="breadcrumb">
                <a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">Home</span>
                    </span>
                </a>
                <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = Session["CodCliente"] , pFlagVendido = true})">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">My booked trip</span>
                    </span>
                </a>

                <div class="no_enlace">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__title">Add traveler information</span>
                    </span>
                </div>
            </div>


        </div>
        <!-- contenido -->
        <div class="container">


            <input type="text" id="txtNroPedido" value="@ViewBag.nroPedido" hidden />
            <input type="text" id="txtNroPasajero" value="0" hidden />
            <input type="text" id="txtIdioma" value="@ViewBag.idioma" hidden />


            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="form-group col-sm-4">
                        <label>Name</label>
                        @Html.TextBoxFor(c => c.Pasajero.NomPasajero, new { @placeholder = "Enter your name", @class = "form-control valid", @id = "txtNomPasajero" })
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Last Name</label>
                        @Html.TextBoxFor(c => c.Pasajero.ApePasajero, new { @placeholder = "Enter you last name", @class = "form-control valid", @id = "txtApPasajero" })
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Passport Number</label>
                        @Html.TextBoxFor(c => c.Pasajero.Pasaporte, new { @placeholder = "Enter your passport number", @class = "form-control valid", @id = "txtPasaporte" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Birth Date</label>
                        @Html.TextBoxFor(c => c.Pasajero.FchNacimiento, new { @type = "date", @class = "form-control", @id = "txtFecPasajero" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Country</label>
                        @Html.DropDownListFor(c => c.Pasajero.Nacionalidad, ((IEnumerable<SelectListItem>)Model.Paises), new { @class = "form-control", @id = "cboNacPasajero" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Gender</label>
                        @Html.DropDownListFor(c => c.Pasajero.Genero, ((IEnumerable<SelectListItem>)Model.Generos), new { @class = "form-control", @id = "cboGenPasajero" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Pax</label>
                        @Html.DropDownListFor(c => c.Pasajero.TipoPasajero, ((IEnumerable<SelectListItem>)Model.Tipos), new { @class = "form-control", @id = "cboTipoPasajero" })
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Note</label>
                        @Html.TextAreaFor(c => c.Pasajero.Observacion, new { @class = "form-control", @placeholder = "Enter a note", @id = "txtObservacion" })
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="form-group col-sm-12">
                    <button type="submit" class="pago btn btn-primary" id="btnEnviar">SEND</button>
                    <button type="button" class="btn btn-warning" id="btnCancelar">CANCEL</button>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="form-group col-sm-12">
                    <div class="table-responsive">
                        <div id="tablaPasajeros"></div>
                    </div>
                </div>
            </div>




        </div>

    </div>

}
else
{
    <div id="prop" class="secondary">
        <div class="container-fluid">
            <section class="slider" id="scenex" style="margin-bottom: 0px;">
                <div class="container">
                    <span class="description">Here is where the trip of your lifetime starts...</span>

                    <div class="options">
                        <div class="op-group">
                        </div>
                    </div>
                </div>
                <img src="~/Content/images/slider-prop.jpg" class="img-bg" data-depth="0.1">

            </section>

            <div class="breadcrumb">
                <a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">Inicio</span>
                    </span>
                </a>
                <a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente =  Session["CodCliente"], pFlagVendido = true})">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">Mi viaje reservado</span>
                    </span>
                </a>
                <div class="no_enlace">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__title">
                            Agregar información del pasajero
                        </span>
                    </span>
                </div>
            </div>

        </div>
        <!-- contenido -->
        <div class="container">


            <input type="text" id="txtNroPedido" value="@ViewBag.nroPedido" hidden />
            <input type="text" id="txtNroPasajero" value="0" hidden />
            <input type="text" id="txtIdioma" value="@ViewBag.idioma" hidden />


            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="form-group col-sm-4">
                        <label>@Html.DisplayNameFor(c => c.Pasajero.NomPasajero)</label>
                        @Html.TextBoxFor(c => c.Pasajero.NomPasajero, new { @placeholder = "Ingrese su nombre", @class = "form-control valid", @id = "txtNomPasajero" })
                    </div>
                    <div class="form-group col-sm-4">
                        <label>@Html.DisplayNameFor(c => c.Pasajero.ApePasajero)</label>
                        @Html.TextBoxFor(c => c.Pasajero.ApePasajero, new { @placeholder = "Ingrese su apellido", @class = "form-control valid", @id = "txtApPasajero" })
                    </div>
                    <div class="form-group col-sm-4">
                        <label>@Html.DisplayNameFor(c => c.Pasajero.Pasaporte)</label>
                        @Html.TextBoxFor(c => c.Pasajero.Pasaporte, new { @placeholder = "Ingrese su pasaporte", @class = "form-control valid", @id = "txtPasaporte" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label>@Html.DisplayNameFor(c => c.Pasajero.FchNacimiento)</label>
                        @Html.TextBoxFor(c => c.Pasajero.FchNacimiento, new { @type = "date", @class = "form-control", @id = "txtFecPasajero" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label>@Html.DisplayNameFor(c => c.Pasajero.Nacionalidad)</label>
                        @Html.DropDownListFor(c => c.Pasajero.Nacionalidad, ((IEnumerable<SelectListItem>)Model.Paises), new { @class = "form-control", @id = "cboNacPasajero" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label>@Html.DisplayNameFor(c => c.Pasajero.Genero)</label>
                        @Html.DropDownListFor(c => c.Pasajero.Genero, ((IEnumerable<SelectListItem>)Model.Generos), new { @class = "form-control", @id = "cboGenPasajero" })
                    </div>
                    <div class="form-group col-sm-3">
                        <label>@Html.DisplayNameFor(c => c.Pasajero.TipoPasajero)</label>
                        @Html.DropDownListFor(c => c.Pasajero.TipoPasajero, ((IEnumerable<SelectListItem>)Model.Tipos), new { @class = "form-control", @id = "cboTipoPasajero" })
                    </div>
                    <div class="form-group col-sm-12">
                        <label>@Html.DisplayNameFor(c => c.Pasajero.Observacion)</label>
                        @Html.TextAreaFor(c => c.Pasajero.Observacion, new { @class = "form-control", @placeholder = "Ingrese una observación", @id = "txtObservacion" })
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="form-group col-sm-12">
                    <button type="submit" class="pago btn btn-primary" id="btnEnviar">ENVIAR</button>
                    <button type="button" class="btn btn-warning" id="btnCancelar">CANCEL</button>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="form-group col-sm-12">
                    <div class="table-responsive">
                        <div id="tablaPasajeros"></div>
                    </div>
                </div>
            </div>



        </div>

    </div>

}



<script src="~/Scripts/Pasajero/Pasajero.js"></script>

