@model PeruTourism.Models.PeruTourism.PropuestaViewModel
@{
    ViewBag.Title = "VerPropuestaDetalle";

    var lstProgramas = Model.lstPrograma;

    var lstServicios = Model.lstServicio;

    var NombreCliente = Session["NomCliente"];
}


<!-- slider -->

<div id="propDet" class="secondary">

    <div class="container-fluid">
        <section class="subtitle">
            <div class="container">
                <div class="options">
                    <div class="op-group">
                        <div class="op op-propuesta">
                            <div class="icon icon-propuesta"></div>
                            <div class="title">Propuestas para mi viaje</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- contenido -->
    <div class="container">
        <section class="group prop-group">
            <div class="group prop">
                <div class="prop-num"><span>@lstProgramas.FirstOrDefault().NroPrograma</span></div>
                <div class="prop-title">@lstProgramas.FirstOrDefault().DesPrograma</div>
                <div class="prop-status"><span class="status status-new">@lstProgramas.FirstOrDefault().StsPrograma</span></div>
            </div>

            @for (int i = 0; i < lstServicios.Count; i++)
            {

                <div class="group prop-detalle collapsed" data-toggle="collapse" data-target="#content_@lstServicios[i].NroDia.ToString()">
                    <div class="prop-num"><span>Día @lstServicios[i].NroDia.ToString()</span></div>
                    <div class="prop-title">@Html.Raw(lstServicios[i].DesServicio)</div>
                    <div class="prop-content collapse" id="content_@lstServicios[i].NroDia.ToString()">
                        <ul>
                            @*<li>Tour día completo a Valle Sagrado -  Servicio Compartido.</li>
        <li>Clase de alfarería - Servicio en privado.</li>
        <li>Alojamiento en Sonesta Valle Sagrado Hotel.</li>
        <li>Incluye: Desayuno y almuerzo.</li>*@

                            @Html.Raw(lstServicios[i].DesServicioDet)
                        </ul>
                    </div>
                    <div class="prop-icon"></div>
                </div>
            }

        </section>
    </div>

</div>