@model PeruTourism.Models.PeruTourism.PropuestaViewModel
@using PeruTourism.Utility
@{
    ViewBag.Title = "VerPropuesta";

    var lstProgramas = Model.lstPrograma;

    //var NombreCliente = Session["NomCliente"];
    var CodCliente = ViewBag.CodCliente;
    char idioma = ViewBag.Idioma;
    bool flagVendido = ViewBag.FlagVendido;
}

<div id="prop" class="secondary">
    <div class="container-fluid">
        <section class="slider" id="scenex" style="margin-bottom: 0px;">
            <div class="container">

                @if (idioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
                {
                    <span class="description">Here is where the trip of your lifetime starts...</span>

                }
                else
                {
                    <span class="description">Aquí es donde comienza el viaje de tu vida...</span>

                }

                <div class="options">
                    <div class="op-group">
                        @*<span class="description">My travel itineraries</span>*@

                        @*<div class="op op-propuesta">
                                <div class="icon icon-propuesta"></div>
                                @if (flagVendido == true)
                                {

                                    if (idioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
                                    {
                                        <div class="title">My booked trip</div>
                                    }
                                    else
                                    {
                                        <div class="title">Mi viaje reservado</div>
                                    }

                                }
                                else
                                {
                                    if (idioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
                                    {
                                         <div class="title">My travel itineraries</div>
                                    }
                                    else
                                    {
                                        <div class="title">Propuestas para mi viaje</div>
                                    }

                                }


                            </div>*@
                    </div>
                </div>
            </div>
            <img src="~/Content/images/slider-prop.jpg" class="img-bg" data-depth="0.1">
        </section>

        <div class="breadcrumb">

            @if (idioma.Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
            {

                <a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">Home</span>
                    </span>
                </a>

                if (flagVendido == true)
                {

                    <div class="no_enlace">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title">My booked trip</span>
                        </span>
                    </div>
                    <input id="mostrarMenuVendido" value="ok" style="display:none" />
                    @*<div id="mostrarMenuVendido" style="display:none">ok</div>*@
                }
                else
                {

                    <div class="no_enlace">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title">My travel itineraries</span>
                        </span>
                    </div>

                }



            }
            else
            {
                <a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">
                    <span class="breadcrumb__inner">
                        <span class="breadcrumb__desc">Inicio</span>
                    </span>
                </a>



                if (flagVendido == true)
                {
                    <div class="no_enlace">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title">Mi viaje reservado</span>
                        </span>
                    </div>
                    <input id="mostrarMenuVendido" value="ok" style="display:none" />
                    @*<div id="mostrarMenuVendido" style="display:none">ok</div>*@
                }
                else
                {
                    <div class="no_enlace">
                        <span class="breadcrumb__inner">
                            <span class="breadcrumb__title">Propuestas para mi viaje</span>
                        </span>
                    </div>
                }



            }


        </div>


    </div>

    <div class="container">
        <section class="group prop-group">


            @if (flagVendido == true)
            {


                if (lstProgramas.Where(p => p.StsPrograma.Equals("Sold") || p.StsPrograma.Equals("Vendido")).Count() != 0)
                {
                    //for (int i = 0; i < lstProgramas.Where(p => p.StsPrograma.Equals("Sold") || p.StsPrograma.Equals("Vendido")).Count(); i++)
                    //{



                    foreach (var lstGG in lstProgramas.Where(p => p.StsPrograma.Equals("Sold") || p.StsPrograma.Equals("Vendido")))
                    {



                        <a nroPrograma="@lstGG.NroPrograma" KeyReg="@lstGG.KeyReg" href="@Url.Action("VerPropuestaDetalle", "Home",new { KeyReg = lstGG.KeyReg, NroPrograma = lstGG.NroPrograma.Trim() , FlagIdioma = idioma, pCodCliente=CodCliente , pFlagVendido = flagVendido})" class="group prop">
                            <div class="prop-num"><span>@lstGG.NroPrograma</span></div>
                            <div class="prop-title">@lstGG.DesPrograma</div>



                            @if (lstGG.StsPrograma.Equals("Sold") || lstGG.StsPrograma.Equals("Vendido"))
                            {
                                <div class="prop-status"><span class="status status-sold">@lstGG.StsPrograma</span></div>
                            }
                            @*else if (lstProgramas[i].StsPrograma.Equals("Quote") || lstProgramas[i].StsPrograma.Equals("Cotizado"))
                                {
                                    <div class="prop-status"><span class="status status-new">@lstProgramas[i].StsPrograma</span></div>
                                }
                                else
                                {
                                    <div class="prop-status"><span class="status status-cancel">@lstProgramas[i].StsPrograma</span></div>
                                }*@

                        </a>






                        //}





                    }
                }
                else
                {
                    <div id="mensajeValidacion">No cuenta con viajes reservados</div>
                }





            }
            else
            {

                for (int i = 0; i < lstProgramas.Count; i++)
                {




                    <a nroPrograma="@lstProgramas[i].NroPrograma" KeyReg="@lstProgramas[i].KeyReg.Trim()" href="@Url.Action("VerPropuestaDetalle", "Home",new { KeyReg = lstProgramas[i].KeyReg, NroPrograma = lstProgramas[i].NroPrograma.Trim() , FlagIdioma = idioma, pCodCliente=CodCliente , pFlagVendido = flagVendido})" class="group prop">
                        <div class="prop-num"><span>@lstProgramas[i].NroPrograma</span></div>
                        <div class="prop-title">@lstProgramas[i].DesPrograma</div>



                        @if (lstProgramas[i].StsPrograma.Equals("Sold") || lstProgramas[i].StsPrograma.Equals("Vendido"))
                        {
                            <div class="prop-status"><span class="status status-sold">@lstProgramas[i].StsPrograma</span></div>
                        }
                        else if (lstProgramas[i].StsPrograma.Equals("Quote") || lstProgramas[i].StsPrograma.Equals("Cotizado"))
                        {
                            <div class="prop-status"><span class="status status-new">@lstProgramas[i].StsPrograma</span></div>
                        }
                        else
                        {
                            <div class="prop-status"><span class="status status-cancel">@lstProgramas[i].StsPrograma</span></div>
                        }

                    </a>



                }

            }




        </section>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        var flagGG = $('#mostrarMenuVendido').val();


        if (flagGG != null) {
            $(".marcaMenu").removeClass("active");
            $(".marcaMenu03").addClass("active");
        } else {
            $(".marcaMenu").removeClass("active");
            $(".marcaMenu02").addClass("active");
        }


    });
</script>