@model PeruTourism.Models.PeruTourism.PropuestaViewModel
@{
    ViewBag.Title = "VerPropuesta";

    var lstProgramas = Model.lstPrograma;

    var NombreCliente = Session["NomCliente"];

    char idioma = ViewBag.Idioma;
}

<div id="prop" class="secondary">
    <div class="container-fluid">
        <section class="slider" id="scenex">
            <div class="container">
                <div class="options">
                    <div class="op-group">
                        <div class="op op-propuesta">
                            <div class="icon icon-propuesta"></div>
                            @if (idioma.Equals('I'))
                            {
                            <div class="title">Proposals for my trip</div>
                            }
                            else
                            {
                                <div class="title">Propuestas para mi viaje</div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
            <img src="~/Content/resources/images/slider-prop.jpg" class="img-bg" data-depth="0.1">
        </section>
    </div>

    <div class="container">
        <section class="group prop-group">

            @for (int i = 0; i < lstProgramas.Count; i++)
            {

                <a nroPrograma="@lstProgramas[i].NroPrograma" KeyReg="@lstProgramas[i].KeyReg.Trim()" href="@Url.Action("VerPropuestaDetalle", "Home",new { KeyReg = lstProgramas[i].KeyReg.Trim(), NroPrograma = lstProgramas[i].NroPrograma.Trim() , FlagIdioma = idioma})" class="group prop">
                    <div class="prop-num"><span>@lstProgramas[i].NroPrograma</span></div>
                    <div class="prop-title">@lstProgramas[i].DesPrograma</div>
                    <div class="prop-status"><span class="status status-new">@lstProgramas[i].StsPrograma</span></div>
                </a>

            }

        </section>
    </div>

</div>
