@model PeruTourism.Models.PeruTourism.PropuestaViewModel
@{

    var lstGaleria = Model.lstServicio;

    var NroServicio = lstGaleria.FirstOrDefault().NroServicio;

    string path = Server.MapPath("~/Content/images/no-imagen.jpg");
    byte[] imageByteData = System.IO.File.ReadAllBytes(path);
    string imageBase64Data = Convert.ToBase64String(imageByteData);
    string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);

    string imgSrc_1 = string.Empty;
    string imgSrc_2 = string.Empty;
    string imgSrc_3 = string.Empty;

    if (lstGaleria.FirstOrDefault().Imagen1 != null)
    {
        byte[] imageByData_1 = lstGaleria.FirstOrDefault().Imagen1;
        string base64_1 = Convert.ToBase64String(imageByData_1);

        if (base64_1 == string.Empty)
        {
            imgSrc_1 = imageDataURL;
        }
        else {

            imgSrc_1 = string.Format("data:image/jpg;base64,{0}", base64_1);
        }


    }


    if (lstGaleria.FirstOrDefault().Imagen2 != null)
    {
        byte[] imageByData_2 = lstGaleria.FirstOrDefault().Imagen2;
        string base64_2 = Convert.ToBase64String(imageByData_2);

        if (base64_2 == string.Empty)
        {
            imgSrc_2 = imageDataURL;
        }
        else
        {

            imgSrc_2 = string.Format("data:image/jpg;base64,{0}", base64_2);
        }

    }



    if (lstGaleria.FirstOrDefault().Imagen3 != null)
    {

        byte[] imageByData_3 = lstGaleria.FirstOrDefault().Imagen3;
        string base64_3 = Convert.ToBase64String(imageByData_3);

        if (base64_3 == string.Empty)
        {
            imgSrc_3 = imageDataURL;
        }
        else
        {

            imgSrc_3 = string.Format("data:image/jpg;base64,{0}", base64_3);
        }

        
    }

        
    if (lstGaleria != null)
    {
        <div class="modal fade" id="detalleHotel-1" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-DetalleHotel" role="document">
                <div class="modal-content group">
                    <div class="modal-header">
                        @*<strong>Detalle de Hotel</strong>*@
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <figure>
                            <div class="galleryDetalleHotel" id="owl-detailPhotos">

                                <div class="item"><img alt="" src="@imgSrc_1" /></div>
                                <div class="item"><img alt="" src="@imgSrc_2" /></div>
                                <div class="item"><img alt="" src="@imgSrc_3" /></div>
                    
                            </div>
                        </figure>

                        <div class="info-hotel">
                            <div class="form-group">
                                <h4>
                                    @lstGaleria.FirstOrDefault().NombreHTL @*<span>★★★</span>*@


                                    @{
                                        if (lstGaleria.FirstOrDefault().Valoracion != 0)
                                        {
                                            for (int i = 1; i <= @lstGaleria.FirstOrDefault().Valoracion; i++)
                                            {

                                                if (i >= 1)
                                                {
                                                    @*<span>★</span>*@
                                                    @*<i class="icon-star">&starf; </i>*@
                                                    <i class="icon-star"><span>★</span> </i>
                                                }


                                            }

                                        }

                                    }


                                </h4>
                            </div>

                            <div class="form-group">
                                <label for="DireccionHTL">Dirección:</label>
                                <span>@lstGaleria.FirstOrDefault().DireccionHTL</span>
                            </div>

                            <div class="form-group">
                                <label for="Telefono">Telefono:</label>
                                <span>@lstGaleria.FirstOrDefault().Telefono</span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    }
}

