@model PeruTourism.Models.Galeria.GaleriaViewModel
@using PeruTourism.Utility
@{
    ViewBag.Title = "Galeria";


    var lstGaleria = Model.lstGaleria;

    var NroServicio = lstGaleria.FirstOrDefault().NroServicio;

    var lajaxOptionsForm = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnBegin = "e_ajax_iniciando",
        OnComplete = "e_ajax_finalizando_form_ficha",
        OnFailure = "e_ajax_error"
    };



    var base64 = Convert.ToBase64String(lstGaleria.FirstOrDefault().Imagen2);
    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

}

<h2>Galeria</h2>

<div id="propDet" class="secondary">

    @*<form id="formPagoVisa">*@

    <input type="hidden" id="NroServicio" value="@NroServicio.Trim()" />

    <div class="form-group">
        <label for="FlagImg01">Estrellas:</label>
        <label for="FlagImg01">@lstGaleria.FirstOrDefault().flagImg01</label>

    </div>

    <div class="form-group">
        <label for="DireccionHTL">Direccion:</label>
        <label for="DireccionHTL">@lstGaleria.FirstOrDefault().DireccionHTL</label>

    </div>

</div>

<div class="form-group">
    <label for="Telefono">Telefono:</label>
    <label for="FlagImg01">@lstGaleria.FirstOrDefault().Telefono</label>

</div>

<div class="form-group">
    <label for="Imagen1">Imagen 01:</label>
    @*<label for="FlagImg01">@lstGaleria.FirstOrDefault().FlagImg01</label>*@

</div>

<div class="form-group">
    @*<label for="Imagen2">@imgSrc</label>*@

    <img src="@imgSrc" />
    @*<label for="FlagImg01">@lstGaleria.FirstOrDefault().FlagImg01</label>*@

</div>

<div class="form-group">
    <label for="Imagen3">Imagen 03:</label>
    @*<label for="FlagImg01">@lstGaleria.FirstOrDefault().FlagImg01</label>*@

</div>


@*</form>*@


</div>


<script src="~/scripts/Galeria/Galeria.js"></script>