@using PeruTourism.Utility
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PeruTourism</title>
    <!-- ingresar descripcion del sitio -->
    <meta name="description" content="Peru Tourism: Your customized travel website. Go beyond ordinary travel!">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#0f703a">
    <meta name="msapplication-navbutton-color" content="#0f703a">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0f703a">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,600,700,800">
    @*@Styles.Render("~/Content/css")*@

    <link rel="stylesheet" href="~/Content/css/layout.css" media="all">
    <link rel="stylesheet" href="~/Content/css/home.min.css" media="all">
    <link rel="stylesheet" href="~/Content/css/propuestas.min.css" media="all">
    <link rel="stylesheet" href="~/Content/css/chat.css" media="all">
    <link rel="stylesheet" href="~/Content/css/flotante.css" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    @*<link rel="stylesheet" href="~/Content/css/chat.css" media="all">
        <link rel="stylesheet" href="~/Content/css/ChatGG.css" media="all">*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>


<body>


    @if (Session["Idioma"] != null || Session["IdCliente"] != null || Session["NomCliente"] != null || Session["CodCliente"] != null)
    {

        if (Session["Idioma"].Equals(ConstantesWeb.CHR_IDIOMA_INGLES))
        {

            <header id="header">
                <div class="container-fluid">
                    <div class="row">
                        <!-- navegacion -->
                        <nav class="navbar navbar-default">
                            <div class="container">
                                <div class="row">
                                    <div class="navbar-header">
                                        <!-- brand -->
                                        <div class="brand"><a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })"><img src="~/Content/images/perutourism-logo.png" title="Peru Tourism" alt="Peru Tourism"></a></div>
                                        <div class="slogan">
                                            <span class="hidden-xs">Your customized travel website for:</span> <p class="nombrePax"><i class="icon icon-user"></i> @Session["NomCliente"]</p>
                                        </div>
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#siteNav"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse in" id="siteNav">
                                <div class="container">
                                    <div class="row">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">Welcome</a></li>
                                            <li><a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = Session["CodCliente"] })">Proposals</a></li>
                                            <li><a href="javascript:void(0)">Information</a></li>
                                            <li><a href="javascript:void(0)">Testimonials</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- navegacion -->
            </header>

        }
        else
        {

            <header id="header">
                <div class="container-fluid">
                    <div class="row">
                        <!-- navegacion -->
                        <nav class="navbar navbar-default">
                            <div class="container">
                                <div class="row">
                                    <div class="navbar-header">
                                        <!-- brand -->
                                        <div class="brand"><a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })"><img src="~/Content/images/perutourism-logo.png" title="Peru Tourism" alt="Peru Tourism"></a></div>
                                        <div class="slogan">
                                            <span class="hidden-xs">Tu pagina personalizada de viajes:</span> <p class="nombrePax"><i class="icon icon-user"></i> @Session["NomCliente"]</p>
                                        </div>
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#siteNav"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse in" id="siteNav">
                                <div class="container">
                                    <div class="row">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="@Url.Action("Login", "Home",new { id = Session["IdCliente"] })">Bienvenido</a></li>
                                            <li><a href="@Url.Action("VerPropuesta", "Home",new { pCodCliente = Session["CodCliente"] })">Propuestas</a></li>
                                            <li><a href="javascript:void(0)">Informacion</a></li>
                                            <li><a href="javascript:void(0)">Testimonios</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- navegacion -->
            </header>

        }



    }
    else
    {

        Response.Redirect("~/Views/Shared/SessionExpired.cshtml");
    }





    <div class="content">

        @RenderBody()

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/scripts/third/bootstrap.min.js"></script>
    <script src="~/Content/scripts/third/parallax.min.js"></script>
    <script src="~/Content/scripts/views/home.js"></script>
    <script src="~/Content/scripts/views/propuestas.js"></script>
    <script src="~/Content/scripts/views/chat.js"></script>


    @*<div id="floating_alert" class="alert-danger fade in countdown">Tu sesion expira en : 04:45</div>*@


    @RenderSection("scripts", required: false)
</body>
</html>
